SampleSite/Web References/SampleWebservices1/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCheckResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:LoginCheck" />
  </wsdl:message>
  <wsdl:message name="LoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:LoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="LoginCheckHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginCheckHttpGetOut" />
  <wsdl:message name="LoginCheckHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginCheckHttpPostOut" />
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="LoginCheck">
      <wsdl:input message="tns:LoginCheckSoapIn" />
      <wsdl:output message="tns:LoginCheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginHttpGet">
    <wsdl:operation name="LoginCheck">
      <wsdl:input message="tns:LoginCheckHttpGetIn" />
      <wsdl:output message="tns:LoginCheckHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginHttpPost">
    <wsdl:operation name="LoginCheck">
      <wsdl:input message="tns:LoginCheckHttpPostIn" />
      <wsdl:output message="tns:LoginCheckHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginCheck">
      <soap:operation soapAction="http://tempuri.org/LoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginCheck">
      <soap12:operation soapAction="http://tempuri.org/LoginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginHttpGet" type="tns:LoginHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LoginCheck">
      <http:operation location="/LoginCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginHttpPost" type="tns:LoginHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LoginCheck">
      <http:operation location="/LoginCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="http://localhost/SampleBll/login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="http://localhost/SampleBll/login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginHttpGet" binding="tns:LoginHttpGet">
      <http:address location="http://localhost/SampleBll/login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginHttpPost" binding="tns:LoginHttpPost">
      <http:address location="http://localhost/SampleBll/login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>